body {
	font-family: $font-family;
	color: $body;
	overflow-x: hidden;
	margin: 0;
}

a {
	color: $link;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $header-color;
	font-weight: $header-weight;
}

p {
	font-size: 14px;
}