 // entire container, keeps perspective
.flip-container {
	perspective: 1000px;

	&:hover {
		.flipper {
			transform: rotateY(180deg);
		}
	}
}

// flip speed goes here
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

// Hide back of pane during swap
.front,
.back {
	backface-visibility: hidden;
	top: 0;
	left: 0;
}

// Front pane, placed above back
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

// Back, initially hidden pane
.back {
	transform: rotateY(180deg);
}

.flip-container:hover .flipper,
.flip-container.hover .flipper,
.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flip-hidden {
	position: absolute;
	left: -5000px;
}