.order-summary {
	// Elements
	&__header {
		font-size: 1.5em;
		font-weight: bold;
	}

	&__table {
		width: 100%;
		font-size: .875em; // 14px
	}

	&__cell {
		padding: 5px 0;
		vertical-align: top;
		&:nth-child(2){
			padding-left: 1.2em;
		}
		&:last-of-type{
			text-align: right;
		}
	}

	&--large-font{
		font-size: 1.125em;
	}

	&__includes-header {
		margin-top: 20px;
		margin-bottom: 0;
		font-size: .875em; // 14px
		margin-left: 30px;
	}

	&__includes-list {
		padding-left: 20px;
		padding-bottom: 10px;
		font-size: .875em; // 14px
		margin-left: 30px;
	}

	// Modifiers
	&--alt-bg {
		background-color: $order-summary-bg--alt;
		padding-top: 15px;
		padding-bottom: 15px;
	}

}

.order-totals {
	margin-bottom: 1.5em;

	// Elements
	&__table{
		width: 100%;
	}

	&__cell {
		padding: 5px 0;
		font-weight: normal;
		font-size: .875em;
	}

	// Modifiers
	&__cell--right {
		text-align: right;
	}

	&__cell--large {
		font-size: 1.25em;
		font-weight: bold;
	}

	&--alt-bg {
		background-color: $order-summary-bg--alt;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	&--border {
		margin: .5em 0;
		border-top: none;
		border-bottom: 2px solid $order-totals-border;
	}
}
